/* work */

.work {
    padding-top: 0;
}

.work__list {
    @extend %list;
    display: flex;
    gap: 30px;
}

.work__item {
    position: relative;
}

.work__meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
}

.work__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;

    color: $color-white;
}